#root {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap: 10px;
}

p {
  margin: 0;
  text-align: start;
}

ul, li {
  text-decoration: none;
  list-style: none;
  margin: 20px;
}

h1, h2, h3, h4 {
  text-align: start;
  margin: 10px;
}

.title {
  text-align: center;
}

button > * {
  pointer-events: none;
}

.edit-button {
  padding: 0;
}

.edit-button > * {
  pointer-events: none;
}

.edit-input, .edit-input:focus {
  text-decoration: none;
}

.education-card, .experience-card {
  display: flex;
  border: 1px solid steelblue;
  border-radius: 5px;
  min-width: 450px;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  padding: 5px;
}

.education-card > * {
  pointer-events: none;
}

.experience-card > * {
  pointer-events: none;
}

.skill-item {
  display: flex;
  border: 1px solid steelblue;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 5px;
}

.print-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 1fr;
  row-gap: 10px;
  width: 1025px;
  height: 1450px;
  border: solid 3px steelblue;
  border-radius: 5px;
  justify-items: auto;
  padding: 10px;
  background-color: rgb(176, 219, 255);
}

.general-left {
  justify-self: start;
  padding: 20px;
  
}

.general-right {
  justify-self: end;
  margin: 20px;
}

.education-print, .experience-print {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(255, 252, 247);
  border-radius: 5px;
}

.skills-print {
  background-color: rgb(255, 252, 247);
  border-radius: 5px;
}

.print-button {
  grid-column-start: 2;
  grid-column-end: 3;
  width: fit-content;
  height: fit-content;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: rgb(176, 219, 255);
}


@media print {
  body {
    visibility: hidden;
  }
  .print-layout {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}